.about-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 80vh;
}

.about-h1 {
  text-align: center;
  color: #333;
  margin-bottom: 40px;
  font-size: 2.5em;
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-image {
  flex: 1;
  margin-right: 20px;
}

.about-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-card {
  flex: 2;
  padding: 20px;
}

.about-h2 {
  color: #007bff;
  font-size: 2em;
  margin-bottom: 10px;
}

.about-h3 {
  color: #555;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.about-card h5 {
  color: #777;
  font-size: 1.2em;
  margin-bottom: 15px;
}

.about-p {
  color: #666;
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 20px;
}

.learnmore {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.learnmore:hover {
  background-color: #0056b3;
}
