/* General styles */

  .login-container {
    width: 350px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 5px;
    background-color: #f0f0f0; /* Light gray background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }
  
  .title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  /* Input field styles */
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Spacing between input fields */
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    outline: none; /* Remove default outline */
  }
  
  .input:focus {
    border-color: #0056b3; /* Green border on focus */
    
  }
  
  /* Button styles */
  .login-button {
    border-color: #0056b3; /* Green border on focus */
    background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
  }
  
  .login-button:hover {
    border-color: #0056b3; /* Green border on focus */
  
  }
  
  /* Link styles */
  .reg-link {
    text-align: center;
    color: #0056b3; /* Green */
    font-size: 14px;
    text-decoration: none; /* Remove underline */
    margin-top: 10px;
  }
  
  .reg-link:hover {
    color: #0056b3; /* Darker green on hover */
  }
  
  .alert {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px;
    border-radius: 5px;
    color: white;
    z-index: 1000;
  }
  
  .alert.success {
    background-color: #4CAF50;
    margin-right: 700px;
  }
  
  .alert.error {
    background-color: #F44336;
    margin-right: 700px;
  }
  
  .close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    margin-left: 15px;
    cursor: pointer;
  }
  